<style>
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
</style>
<div id="content" style="padding:1vh">
  <p><%=title%></p>
  <div class="row">
    <div class="col-md-4">
      <label for="project-source"><%=__('data-type') %></label>
    </div>
    <div class="col-md-4">
      <label for="project-source"><%=__('field') %></label>
    </div>
    <div class="col-md-4">
        <label for="project-source"><%=__('period') %></label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select required id='dt-sel' class="form-control selectpicker">
            <% _.each(dataTypes, function(dt) {%>
              <option value='<%= dt.id %>'><%= dt.name %></option>
            <% }) %>
        </select>
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <select required id='field-sel' class="form-control selectpicker">
              <option value='created_at'>Creation Date</option>
              <% _.each(fields, function(field) {%>
                <option value='<%= field.formattedName %>'><%= field.name %></option>
              <% }) %>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select required id='period-sel' class="form-control selectpicker">
              <% _.each(periods, function(period) {%>
                <option value='<%= period.value %>'><%= period.name %></option>
              <% }) %>
          </select>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 graph-cnt" style="text-align:center;">
    </div>
  </div>
