<h4>
    <%= __("file-list") %>
    <!-- <a class="remove-me">
        <span class="fa fa-times-circle"></span>
    </a> -->
</h4>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><%=__("id") %></th>
                        <th><%= __("name") %></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% _.each(dataFiles, function(dataFile) { %>
                <tr>
                    <td><%= dataFile.id %></td>
                    <td><%= dataFile.get("uri").split("/")[dataFile.get("uri").split("/").length-1] %></td>
                    <!-- <td><a href="" class="download-file-content btn " data-id=<%= dataFile.id %> ><%=__("download") %></a></td> -->
                    <td>
                      <span class="download-file-content input-group-addon btn btn-default" data-id= "<%=dataFile.id%>"><i class="fa fa-download" data-id= "<%=dataFile.id%>"></i></span>
                      <!-- <span class="delete-file-content input-group-addon btn btn-danger" data-id= "<%=dataFile.id%>"><i class="fa fa-trash" data-id= "<%=dataFile.id%>"></i></span> -->
                    </td>

                    <!-- <td><a href="" class="delete-file-content btn btn-danger" data-id=<%= dataFile.id %> ><%=__("delete") %></a></td> -->
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='query-modal'></div>
