
<div class="row">
  <a class="btn btn-primary" role="button" href="https://sharedoc.gaslini.org/index.php/s/tpuYb6UB59NkXcA/download" target="_blank"><%= __('download-template')%></a>
  <h4><%= __('choose-import') %></h4> 
  <div class="btn-group btn-group-margin">
    <input type="button" id="bulk-ngs" class="btn btn-default" value="<%=__('bulk') %>">
    <input type="button" id="by-patient-ngs" class="btn btn-default" value="<%=__('by-family') %>">
  </div>
</div>
<div id="bulk-message-ngs" class="row text-left hidden" style="font-size:12px">
  <div><%=__('bulk-message-ngs') %></div>
</div>

<div class="row selector-cnt-ngs hidden"></div>