<nav id="menubar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="navbar-header">
          <div class="row">
            <a href="#homepage">
              <div class="col-md-8 title-menu-cnt">
                <h3><b>XTENS 2</b></h3>
              </div>
            </a>
            <div class="col-md-2">
              <button type="button" id="sidebarCollapse" class="navbar-btn toggle-bar" data-placement="right"
                data-toggle="tooltip" title="<%= __('show-hide-bar')%>">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#/logout" type="button" id="sidebarCollapse" class="navbar-btn logout" style="float:right;"
                data-placement="left" data-toggle="tooltip" title="<%= __('logout')%>">
                <i style="margin: -1em -0.2em;" class="fa fa-sign-out fa-2x" /></a>
            </li>
            <% if (accessDashboard) {%>
            <li class="">
              <a href="#/<%= accessDashboard %>" aria-expanded="false"><%= __("project-dashboard")%></a>
            </li>
            <%}%>
              <% if (session.get("isWheel") || session.get("isAdmin")) {%>
            <li class="">
              <a href="#administration" data-toggle="collapse" aria-expanded="false"><%= __("administration")%></a>
              <ul class="collapse list-unstyled" id="administration">
                <% if (session.get("isWheel")) {%>
                <!-- <p id="title"><%= __("super-user")%></p> -->
                <li> <a href="#/projects"> <%= __("projects") %></a> </li>
                <li> <a href="#/groups"> <%= __("groups") %></a> </li>
                <li> <a href="#/operators"> <%= __("operators") %></a> </li>
                <li> <a href="#/biobanks"> <%= __("biobanks") %></a> </li>
                <li> <a href="#/datatypes"> <%= __("data-types") %></a> </li>
                <%}
                  else if (session.get("isAdmin")) {%>
                <!-- <p id="title"><%= __("manager")%></p> -->
                <li><a href="#/biobanks"> <%= __("biobanks") %></a> </li>
                <li><a href="#/datatypes"> <%= __("data-types") %></a> </li>
                <%}
                  else {%>
                <!-- <p id="title"><%= __("standard")%></p> -->
                <%}%>
                  </ul>
                </li>
                <%}%>
                <li>
                  <a href="#data-management" data-toggle="collapse"
                    aria-expanded="false"><%= __("data-management") %></a>
                  <ul class="collapse list-unstyled" id="data-management">
                    <li> <a href="#/subjects"> <%= __("subjects") %></a> </li>
                    <li> <a href="#/samples"> <%= __("samples") %></a> </li>
                    <li> <a href="#/data"> <%= __("data") %></a> </li>
                    <li> <a href="#/data/dedicated"> <%= __("customised-data") %> </a> </li>
                  </ul>
                </li>
                <li>
                  <a href="#search" data-toggle="collapse" aria-expanded="false"><%= __("search") %></a>
                  <ul class="collapse list-unstyled" id="search">
                    <li><a href="#/query"><%= __("advanced-search") %></a></li>
                    <li> <a href="#/getFromBarCode"> <%= __("get-from-bar-code") %></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#account" data-toggle="collapse" aria-expanded="false"><%= __("account") %></a>
                  <ul class="collapse list-unstyled" id="account">
                    <li><a href="#/operators/edit/<%= operatorId %>"> <%= __("edit-profile") %></a> </li>
                    <li><a href="#/operators/updatePassword"> <%= __("change-password") %></a> </li>
                  </ul>
                </li>
              </ul>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="margin-right:2vh;">
            <!-- <li hidden><a href="#" id="current"><%= currentProject %></a></li> -->
            <!-- <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li> -->

          </ul>
        </div>
      </div>


    </div>
  </div>
</nav>