<h2 class="legend" align="center"><%= __("group-list") %></h2>
<div id="list">
    <div class="table-container">
        <table class="table striped">
            <thead>
                <tr>
                    <th><%= __("name") %></th>
                    <th><%= __("projects") %></th>
                    <th><%= __("actions") %></th>

                </tr>
            </thead>
            <tbody>  <% _.each(groups, function(group) { %>
            <tr class="group_val">
              <td><%= group.get("name") %></td>
              <td><%= _.map(group.get("projects"), 'name').join(" ") %></td>
              <td class="groups-actions">
                <div class="btn-group btn-group-sm" role="group" style="margin-top:0.5vh;">
                  <a type="button" class="btn btn-info" id="edit" href="#/groups/edit/<%= group.id %>"><%=__("edit") %></a>
                  <a type="button" class="btn btn-primary" id="edit" href="#/groups/operator/<%= group.id %>"><%=__("member-operators") %></a>
                  <a type="button" class="btn btn-primary" id="edit" href="#/datatypeprivileges?groupId=<%= group.id %>"><%=__("data-type-privileges") %></a>
              </div>
              </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
    <div id="buttonbardiv" class="row text-center">
        <a href="#/groups/new" class="btn btn-primary"><%= __("new-group")%></a>
    </div>
     </div>
