<nav id="menu-bar" class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="navbar-header">
          <div class="row">
            <a href="#homepage">
              <div class="col-md-8 title-menu-cnt">
                <h3><b>XTENS 2</b></h3>
              </div>
            </a>
            <div class="col-md-2">
              <button type="button" id="sidebarCollapse" class="navbar-btn toggle-bar" data-placement="right"
                data-toggle="tooltip" title="<%= __('show-hide-bar')%>">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse row">
          <ul class="nav navbar-nav" id="menubar-ul-item">
            <% if (accessDashboard) {%>
            <li>
              <a href="#/<%= accessDashboard %>"><%= __("project-dashboard")%></a>
            </li>
            <%}%>
            <% if (session.get("isWheel") || session.get("isAdmin")) {%>
            <li class="">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"
                aria-expanded="false"><%= __("administration")%>
                &nbsp;&nbsp;&nbsp;&nbsp;</a>
              <ul class="dropdown-menu">
                <% if (session.get("isWheel")) {%>
                <!-- <p id="title"><%= __("super-user")%></p> -->
                <li> <a href="#/projects"> <%= __("projects") %></a> </li>
                <li> <a href="#/groups"> <%= __("groups") %></a> </li>
                <li> <a href="#/operators"> <%= __("operators") %></a> </li>
                <li> <a href="#/biobanks"> <%= __("biobanks") %></a> </li>
                <li> <a href="#/datatypes"> <%= __("data-types") %></a> </li>
                <%}
                else if (session.get("isAdmin")) {%>
                <!-- <p id="title"><%= __("manager")%></p> -->
                <li><a href="#/biobanks"> <%= __("biobanks") %></a> </li>
                <li><a href="#/datatypes"> <%= __("data-types") %></a> </li>
                <%}
                else {%>
                <!-- <p id="title"><%= __("standard")%></p> -->
                <%}%>
                </ul>
              </li>
              <%}%>
                <li>
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle"
                    aria-expanded="false"><%= __("data-management")%>
                    &nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <ul class="dropdown-menu">
                    <li> <a href="#/subjects"> <%= __("subjects") %></a> </li>
                    <li> <a href="#/samples"> <%= __("samples") %></a> </li>
                    <li> <a href="#/data"> <%= __("data") %></a> </li>
                    <li> <a href="#/data/dedicated"> <%= __("customised-data") %> </a> </li>
                  </ul>
                </li>
                <li>
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"><%= __("search")%>
                    &nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <ul class="dropdown-menu">
                    <li><a href="#/query"><%= __("advanced-search") %></a></li>
                    <li> <a href="#/getFromBarCode"> <%= __("get-from-bar-code") %></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"><%= __("account")%>
                    &nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <ul class="dropdown-menu">
                    <li><a href="#/operators/edit/<%= operatorId %>"> <%= __("edit-profile") %></a> </li>
                    <li><a href="#/operators/updatePassword"> <%= __("change-password") %></a> </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li style="margin-right:1em;">
                  <a href="#/logout" type="button" id="sidebarCollapse" class="navbar-btn logout" style="float:right;"
                    data-placement="left" data-toggle="tooltip" title="<%= __('logout')%>">
                    <i style="margin: -1em -0.2em;" class="fa fa-sign-out fa-2x" /></a>
                </li>
              </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </div>
</nav>