<h1><%= __("subject-details") %></h1>

<div id="content">
    <div class="container data-header-cnt">
        <div id="data-header-row" class="row data-header-row">
            <div id="data-header" class="col-md-offset-2 col-md-6">

                <div id="personal-details">
                    <!--
                  <button id="add-personal-details" class="btn btn-info"><%= __('add-personal-details') %></button>
                  -->
                </div>
                <div class="row margin-row">
                    <label for="code" class="data-label"><%= __("code") %></label>
                    <div class="data-input-div">
                        <span id="code" class="data-span"><%= data.get("code") %></span>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="sex" class="data-label"><%= __("sex") %></label>
                    <div class="data-input-div">
                        <div id="sex" name="sex" class="data-span"><%= data.get("sex") %></div>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="dataType" class="data-label"><%= __("data-type") %></label>
                    <div class="data-input-div">
                        <div id="dataType" name="dataType" class="data-span"><%= data.get("type").name %></div>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="tags" class="data-label"><%= __('tags') %></label>
                    <div class="data-input-div">
                        <div type="hidden" class="data-span" id="tags" name="tags">
                            <%= _.isEmpty(data.get('tags')) ? '' : data.get('tags').join(', ') %>
                        </div>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="notes" class="data-label"><%= __('notes') %></label>
                    <div class="data-input-div">
                        <div class="data-span" id="notes" name="notes" rows="4"><%= data.get('notes') || "" %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="metadata-schema" class="metadata-schema">
        <div id="metadata-body" class="metadata-body">
            <% var metadata = data.get("metadata"), value, values, unit;
                var fieldsGroups = _.groupBy(fields, '_group');
                _.forEach(fieldsGroups, function(fields, groupName) {%>
            <div class="metadatagroup span7 center">
                <h4 class="metadatagroup-header text-uppercase">
                    <%= groupName %>
                </h4>
                <div class="metadatacomponent-body">
                    <% 
                        var loopsGroups = _.groupBy(fields, '_loop');
                        if (loopsGroups['undefined'] && loopsGroups['undefined'].length > 0) { 
                        _.each(loopsGroups['undefined'], function(field,index) {%>

                    <% if (!field.sensitive || xtens.session.get('canAccessSensitiveData') ) {%>
                    <div class="row margin-row">
                        <span name="metadata-name" class="col-md-4 text-right" style="padding-left:29px">
                            <%=field.name%>
                        </span>
                        <div class="col-md-5 text-left">

                            <% value =  metadata[field.formattedName] ? metadata[field.formattedName].value : null;
                                if (field.fieldType==="Date" && value != null){value=moment(value).lang("it").format('L');}
                                unit = metadata[field.formattedName] ? metadata[field.formattedName].unit : null; %>
                            <div name="metadata-value" class="data-value">
                                <%= value && unit ? value + " [" + unit + "]" :
                                    value ? value : "" %>
                            </div>
                        </div>
                    </div>
                    <%}});%>
                </div>
            </div>
            <%
            } 
            if (loopsGroups['true'] && loopsGroups['true'].length > 0) {
                var maxLoopNumber = _.max(_.map(_.filter(metadata, function(m) {return m.group == groupName && m.loop; }), function (a) {return a.values ? a.values.length : 0})) 
                maxLoopNumber = maxLoopNumber > 0 ? maxLoopNumber : 1;
                for (var index = 1; index <= maxLoopNumber; index++) {%>

            <div class="metadatagroup span7 center">
                <% var loopGroupName = _.filter(metadata, function(m) {return m.group == groupName && m.loop; })
                            if(loopGroupName.length > 0) {%>
                <h4 class="metadatagroup-header text-uppercase">
                    <%= _.filter(metadata, function(m) {return m.group == groupName && m.loop; })[0].loop %>
                    #<%= index %>
                </h4>
                <div class="metadatacomponent-body">
                    <%}%>
    
                    <% _.each(loopsGroups['true'], function(field) {
                     if (!field.sensitive || xtens.session.get('canAccessSensitiveData') ) {%>
                    <div class="row margin-row">
                        <span name="metadata-name" class="col-md-4 text-right" style="padding-left:29px">
                            <%=field.name%>
                        </span>
                        <div class="col-md-5 text-left">

                            <% values = metadata[field.formattedName] ? metadata[field.formattedName].values : null;%>
                            <div name="metadata-value" class="data-value">
                                <%= values && values[index-1] ? values[index-1] : null %>
                            </div>
                        </div>
                    </div>
                    <%}
                });
                if(loopGroupName.length > 0) {%>
                </div>
                <%}%>
                        </div>
    
                        <%  }}
                                });%>
            </div>
        </div>
    </div>